@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --purple-500: #4824C8;
  --purple-400: #938DFCFF;
  --purple-300: #C4BCFFFF;
  --purple-200: #E3DBFFFF;
  --purple-100: #F4EFFFFF;
  --green-500: #37C346FF;
  --green-400: #8BE895FF;
  --green-200: #CEF7D2FF;
  --green-300: #AAE4B0FF;
  --green-100: #ECFFECFF;
  --grey-100: #F1F1F1FF;
  --dark-700: #423A44FF;
  --dark-900: #131313FF;
  --orange-code: #FF6600FF;
  --blue-code: #00C8FFFF;
  --fuchsia-code: #FF00EEFF;
  --white: #FFFFFFFF;
  --font-mono: "Press Start 2P", monospace;
  --font-sans: "IBM Plex Mono", sans-serif;
  --button-dark-shadow: 4px 4px 0 0 rgba(196, 188, 255, 1);
  --button-2-dark-shadow: 4px 4px 0 0 rgba(196, 188, 255, 0.5);
}

body {
  background-color: var(--dark-700);
  color: var(--grey-100);
}